.alertas {
    margin: 150px;
    
}

.alert-azul {
    justify-content: center !important;
    background-color: #3FBAD8 !important;
    color: white !important;
    display: flex;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}