<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUS Online</title>
    <link rel="stylesheet" type="text/css" href="/src/views/consulting/paciente/css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
    <header>
        
    </header>
    <nav>
        <img id="logo" src="/src/assets/img/sus_online.svg" class="img-fluid" alt="logo SUS Online" />
        <div id="line"></div>
        <ul>
           <li><a id=link href=""><i id="icon" class="fa-solid fa-house"></i>Home</a></li>
           <li><a id=link href=""><i id="icon" class="fa-regular fa-calendar"></i>Agendamentos</a></li>
           <li><a id=link href=""><i id="icon" class="fa-solid fa-message"></i>Consulta On-line</a></li>
           <li><a id=link href=""><i 
           id="icon" class="fa-solid fa-clipboard"></i>Exames/Prescrições</a></li>
        </ul>
    </nav>
    <main></main>
    <footer>
        <div>
            <p>Todos os direitos reservados para SUS On-line © 2022</p>
        </div>
        
    </footer>
</body>
</html>