<nav class="navbar navbar-expand navbar-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn">
            <i class="material-icons text-white">view_headline</i>
        </button>

        <div class="collapse navbar-collapse d-lg-flex justify-content-end" id="navbarSupportedContent">
            <!-- This is what is not working well -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-white" id="user-name">Nome do Usuário</a>
                </li>
                <li class="nav-item">
                    <a href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets/img/photo-user.png" class="img-user-custom">
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdown" href="../conta/"> Conta </a>
                        <a class="dropdown-item dropdown-logout" href="#"> Logout </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>