.material-icons {
    size: 25px;
    color: #3FBAD8;
}

.icons-head {
    size: 110px;
    margin: 5px;
    color: #FFFFFF;
}

.panel-1 {
    position: absolute;
    width: 1520px;
    height: 845px;
    left: 290px;
    top: 94px;
    background: #FFFFFF;
    border-radius: 10px;
}

.appointments {
    width: 535px;
    height: 145px;
    left: 55px;
    top: 150px;
    background:  #e5e5e5;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000;
}

.appointments .material-icons {
    position: relative;
    top: -3px;
    vertical-align:middle;
    color: #000;
}

.name {
    position: relative;
    top: 25px;
    left: 25px;   
}

.date {
    position: relative;
    left: 200px;
    
}

.hour {
    position: relative;
    left: 200px;
    
}

.button {
    position: relative;
    width: 170px;
    height: 35px;
    top: 6px;
    left: 170px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.button .button {
    background-color: #8A8982;
    border: none;
    
}