@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    transition: all 0.3s;
}

.line {
    width: 95% !important;
    height: 3px !important;
    background-color:  #3FBAD8 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #3FBAD8;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 85vh;
    transition: all 0.3s;
    background: rgba(63, 186, 216, 0.08);
}

.img-nav-custom {
    padding-top: 20%;
}

.menu-text {
    font-weight: bold;
    margin-left: 8px;
    font-size: 19px;
}

.menu-link {
    align-items: center;
}

.nav-custom {
    flex-grow: 1 !important;
}

.content-child {
    height: 84vh;
    border-radius: 10px;
}

#gray-custom {
    background: rgb(214, 214, 214);
    height: 72vh;
    padding: 1vh 20vw;
    overflow:auto;
}

.h2-custom {
    color: #3FBAD8;
}

.img-user-custom {
    height: 2vw !important;
}

@media (max-width: 1500px) {
    .img-user-custom {
        height: 4vw !important;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .img-user-custom {
        height: 8vw !important;
    }
}

@media (max-height: 740px) {
    #gray-custom {
        height: 65vh !important;
        padding: 2vh 5vw !important;
    }
}

@media (max-height: 510px) {
    #gray-custom {
        height: 55vh !important;
    }
}