<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUS Online</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/sus_online.svg">
    <link rel="stylesheet" type="text/css" href="../../assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main class="wrapper">
        <nav class="data-partial" id="sidebar" partial-type="sidebar_custom"></nav>

        <div class="nav-custom">
            <nav class="data-partial" id="navbar" partial-type="navbar_custom"></nav>
            <div id="content" class="fw-bold">
                <div class="bg-white content-child vh-75 pt-1 p-5">
                    <span class="text-center">
                        <h2 class="h2-custom">Dados Cadastrais</h2>
                        <div class="line m-auto mb-3"></div>
                    </span>
                    <div id="gray-custom" class="w-auto">

                        <div>
                            <label for="photoUrl">
                                <div class="photoUrl"><img src="../../assets/img/photo-user.png" class="photo-user"></div>
                                <input type="file" name="photoUrl" id="photoUrl" accept="image/*">
                            </label>
                        </div>

                        <form class="w-100 h-100">
                            <div class="mb-3">
                                <label class="form-label">Nome Completo:</label>
                                <input type="text" class="form-control update-model" model-type="nome" id="nome" required>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">CPF:</label>
                                    <input type="text" class="form-control update-model" model-type="cpf" id="cpf" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">RG:</label>
                                    <input type="text" class="form-control update-model" model-type="rg" id="rg" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Data de Nascimento:</label>
                                    <input type="date" class="form-control update-model" model-type="data_nascimento" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Registro:</label>
                                    <input type="text" class="form-control update-model" model-type="documento" id="registro" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="InputNomeMae" class="form-label">Nome da Mãe:</label>
                                <input type="text" class="form-control update-model" model-type="nome_mae" id="nomeMae" required>
                            </div>

                            <div class="mb-3">
                                <label for="InputEndereco" class="form-label">Endereço:</label>
                                <input type="text" class="form-control update-model" model-type="endereco" id="endereco" required>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">CEP:</label>
                                    <input type="text" class="form-control update-model" model-type="cep" id="cep" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Nº:</label>
                                    <input type="text" class="form-control update-model" model-type="numero" id="numero" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Complemento:</label>
                                    <input type="text" class="form-control update-model" model-type="complemento">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Telefone:</label>
                                    <input type="text" class="form-control update-model" model-type="telefone" id="tel" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">E-mail:</label>
                                    <input type="email" class="form-control update-model" model-type="email">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Senha:</label>
                                    <input type="password" class="form-control update-model" model-type="password" id="password" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Confirmar Senha:</label>
                                    <input type="password" class="form-control update-model" model-type="confirm_password" id="password-two" required>
                                </div>
                            </div>

                            <div>
                                <h6>
                                    <input type="submit" id="btn-submit" value="Enviar">
                                    <input type="reset" id="btn-reset" value="Cancelar">
                                </h6>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <footer class="data-partial mt-auto py-3 text-center footer-custom" id="footer" partial-type="footer"></footer>
        </div>
    </main>
</body>

<script src="../../assets/js/jquery.js" type="text/javascript"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="../../assets/js/index.js" type="module"></script>
<script src="./js/index.js" type="module"></script>
<script src="./js/only_letter.js"></script>
<script src="./js/maxChars.js"></script>
<script src="./js/password.js"></script>
<script src="./js/cpf.js"></script>

</html>