<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUS On-Line - Dados Cadastrais</title>
    <link rel="icon" type="image/x-icon" href="../../../assets/img/sus_online.svg">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="./css/home_paciente.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main class="flexbox-container">
        <aside class="flexbox-column column-1">
            <div class="logo-container">
                <img src="../../../assets/img/sus_online.svg" class="logo" alt="SUS Online">
            </div>
            <div class="line"></div>
            <nav class="menu">
                <a href="*" class="menu-link">
                    <span class="material-icons">home</span>
                    <span class="menu-text">Home</span>
                </a>
                <a href="*" class="menu-link">
                    <span class="material-icons">calendar_today</span>
                    <span class="menu-text">Agendamentos</span>
                </a>
                <a href="*" class="menu-link">
                    <span class="material-icons">question_answer</span>
                    <span class="menu-text">Consulta On-line</span>
                </a>
                <a href="*" class="menu-link">
                    <span class="material-icons">assignment</span>
                    <span class="menu-text">Exames/Prescrições</span>
                </a>
            </nav>
        </aside>
        <div class="flexbox-column column-2">
            <header>
                <div class="flexbox-row row-1">
                    <span class="header">Nome do Usuário</span>
                    <span class="material-icons icons-head">account_circle</span>
                    <a href="../../account/paciente/index.html">
                        <span class="material-icons icons-head">menu</span>
                    </a>
                </div>
            </header>

            <div class="flexbox-row row-2">
                <div class="panel panel-1">
                    <span class="title">Consultas On-line</span>
                    <div class="line-2"></div>
                    <div class="alertas">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                A consulta B27 foi cancelada devido a ausência do médico.
                            </div>
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                                <use xlink:href="#exclamation-triangle-fill" />
                            </svg>
                            <div>
                                Seu exame foi remarcado para o dia 25/05/2022 ás 10:00h
                            </div>
                        </div>
                        <div class="alert alert-warning" role="alert">
                            Pedido de exame: A24 - Exame de sangue <br>
                            Médico: Fulano <br>
                            Paciente: Ciclano <br>
                            <br>
                            Agendada para dia 30/05/2022 ás 09:00h <br>
                            Laboratório: 123<br>
                            Endereço: Rua 456, n°1
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <div class="flexbox-row row-3">
                    Todos os direitos reservados para SUS On-line &#0169 2022
                </div>
            </footer>
        </div>
    </main>

</body>

</html>