<nav id="sidebar">
    <div class="sidebar-header row">
        <img src="../../../assets/img/sus_online.svg" class="img-fluid img-nav-custom" alt="SUS Online">
    </div>

    <div class="row align-items-center justify-content-center">
        <div class="line"></div>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="../../home/">
                <span class="material-icons">home</span>
                <span class="menu-text">Home</span>
            </a>
        </li>
        <li class="menu-link">
            <a href="../../agendamento/paciente/"><span class="material-icons">calendar_today</span>
                <span class="menu-text">Agendamentos</span></a>
        </li>
        <li>
            <a href="../../consulta/paciente/"><span class="material-icons">question_answer</span>
                <span class="menu-text">Consulta On-line</span></a>
        </li>
        <li>
            <a href="../../exame/paciente/"><span class="material-icons">assignment</span>
                <span class="menu-text">Exames/Prescrições</span></a>
        </li>
    </ul>
</nav>