html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.sidenav {
    width: 290px; 
    height: 100%;
    border-right: 3px solid #3FBAD8;
}
.logo-container {
    height: 124px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100%;
}
.divider {
    height: 2px;
    background-color: #3FBAD8;
    margin: 20px 25px;
}
.menu {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.menu-link {
    width: 100%;
    height: 60px;
    text-decoration: none;
    color: #3FBAD8;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-text {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    
}
.page {
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navebar {
    height: 50px;
    background-color: #3FBAD8;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.content {
    height: 100%;
    background-color: #F0F9FC;
    padding: 10px;
    overflow: hidden;
}
.footer {
    height: 40px;
    background-color: #3FBAD8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.user {
   height: 40px;
}
.nav-usuario {
    color: #F0F9FC;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.icon-menu {
    color: #F0F9FC;
    margin-right: 11px;
    font-size: 30px !important;
}
.panel {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
} 
.campo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-text {
    margin: 8px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: #3FBAD8;
    margin-top: 16px;

}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botoes-content {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 130px;
    margin-top: 50px;
}

thead {
    background-color: #000000c5;
    color: #000000;
    height: 30px;
    width: 7%;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding: 5px;
    border: 1px solid white;
    align-items: center;
    
}
tbody td, tfoot, tr {
    background-color: #e7f3f7c4;
    width: 12%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 5px;
    border: 1px solid white;
    border-style: ridge;
    align-items: center;
    
}

tr:hover {
    background-color: #021af760;
    
}

#sidebar {
    min-width: 270px;
}

p {
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}